# 실습하기

1. 다음과 같은 시리즈 데이터를 생성하시오.
```
>>>population = pd.Series([852469, 1015785, 485199, np.nan], 
                       index=['San Francisco', 'San Jose', 'Sacramento', 'Seoul'])
```

In [1]:
import pandas as pd
import numpy as np

In [ ]:
population = pd.Series([852469, 1015785, 485199, np.nan], 
                       index=['San Francisco', 'San Jose', 'Sacramento', 'Seoul'])
population

San Francisco     852469.0
San Jose         1015785.0
Sacramento        485199.0
Seoul                  NaN
dtype: float64

2. population에서 인구 500000명 이상의 값을 출력하시오.

In [ ]:
population[population > 500000]

San Francisco     852469.0
San Jose         1015785.0
dtype: float64

3. population의 인덱스 명을 출력하시오.

In [ ]:
population.index

Index(['San Francisco', 'San Jose', 'Sacramento', 'Seoul'], dtype='object')

4. 'San Jose'의 인구수를 출력하시오.

In [ ]:
population['San Jose']

1015785.0

5. 결측치를 0으로 대체하시오.

In [ ]:
population = population.fillna(0)
population

San Francisco     852469.0
San Jose         1015785.0
Sacramento        485199.0
Seoul                  0.0
dtype: float64

6. 인구의 평균과 최소, 최대값을 구하시오.

In [ ]:
print('평균:', population.mean())
print('최소:', population.min())
print('최대:', population.max())

평균: 588363.25
최소: 0.0
최대: 1015785.0