# 자료구조 연습 문제
---

1. 다음 노래 제목을 play_list라는 이름의 리스트에 저장하라. 
> '밤편지','가을아침','비밀정원'

In [6]:
play_list = ['밤편지','가을아침','비밀정원']

2. 위에서 생성한 play_list에 '나만 봄'을 추가하라.

In [7]:
play_list.append('나만 봄')
play_list

['밤편지', '가을아침', '비밀정원', '나만 봄']

3. play_list의 '가을아침'과 '비밀정원' 사이에 '노래방에서'를 끼워 넣어 보시오.

In [9]:
play_list.insert(2,'노래방에서')
play_list

['밤편지', '가을아침', '노래방에서', '비밀정원', '나만 봄']

4. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
> nums = [1, 2, 3, 4, 5, 6, 7]

In [11]:
nums = [1, 2, 3, 4, 5, 6, 7]
# TODO
print(max(nums))
print(min(nums))

7
1

5. 위 nums 리스트의 합을 출력하라.

In [12]:
sum(nums)

28

6. 다음 리스트에 저장된 데이터의 개수를 구하라.
> food = ["피자", "김밥", "만두", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

In [13]:
food = ["피자", "김밥", "만두", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
# TODO
len(food)

9

7. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라.(힌트 : 슬라이싱)

>price = ['20180728', 100, 130, 140, 150, 160, 170]

In [14]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

8. 슬라이싱을 사용해서 홀수만 출력하라.

>nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

9. 다음 코드를 똑같이 실행해 보고 결과가 왜 그렇게 나오는지 확인하시오.

>interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']  
>interest_1 = interest_0  
>interest_1[0] = 'Naver'  
>print(interest_0)

In [16]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']
interest_1 = interest_0
interest_1[0] = 'Naver'
print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

10. my_var 이름의 비어있는 튜플을 만들라.

In [17]:
my_var = ()
type(my_var)

tuple

11. 'apple'이라는 element하나만 가지는 튜플을 생성하시오.

In [18]:
t1 = ('apple',)
t1

('apple',)

12. 다음 리스트를 튜플로 변경하라.

> interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [19]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

13. 다음의 명령어를 똑같이 실행해 보고 어떤 결과가 나오는지 확인하고 이유를 생각해 보시오.
>my_tuple = (1, 2, 3)  
>a, b, c = my_tuple  
>print(a + b + c)

In [20]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a + b + c)

6

14. 다음과 같이 중복값을 포함하고 있는 리스트에서 중복값을 제거해 보시오. (set 활용)
> a = [1,2,3,3,3,4,4,4,5]

In [21]:
a = [1,2,3,3,3,4,4,4,5]
set(a)

{1, 2, 3, 4, 5}

15. 다음 과일과 가격을 fruits라는 이름의 딕셔너리로 구성하라.

이름|가격
--|--
사과|1000
바나나|1200
딸기|1800

In [28]:
fruits = {'사과':1000, '바나나':1200, '딸가':1800}

16. fruits 딕셔너리에 아래 가격정보를 추가하라.

이름|희망 가격
--|--
키위|1200
망고|1500

In [29]:
fruits['키위']=1200
fruits['망고']=1500
fruits

{'사과': 1000, '바나나': 1200, '딸가': 1800, '키위': 1200, '망고': 1500}

17. fruits 딕셔너리를 사용하여 키위 가격을 출력하라.

>실행 예:  
>키위 가격: 1200

In [30]:
print('키위가격:',fruits['키위'])

키위가격: 1200

18. 딕셔너리에서 키위의 가격을 1300으로 수정하시오.

In [31]:
fruits['키위']=1300
fruits

{'사과': 1000, '바나나': 1200, '딸가': 1800, '키위': 1300, '망고': 1500}

19. 딕셔너리에서 키위를 삭제하시오.

In [32]:
del fruits['키위']
fruits

{'사과': 1000, '바나나': 1200, '딸가': 1800, '망고': 1500}

20. 딕셔너리에서 key 값으로만 구성된 리스트를 생성하라.

In [33]:
fruits.keys()

dict_keys(['사과', '바나나', '딸가', '망고'])

21. 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [34]:
fruits.values()

dict_values([1000, 1200, 1800, 1500])