In [6]:
a= 100
type(a)

int

In [7]:
# type 함수는 변수의 데이터 타입을 확인할 때 사용한다.
a = '문자열'
type(a)

str

In [9]:
a = '100'
type(a)
a = int(a)
type(a)

int

In [11]:
a = 1928.3839433
type(a)
a = int(a)
print(a)

1928

In [14]:
a  = None
bool(a)

False

In [16]:
d = dict(name='정우성',score=100)
type(d)
print(d)

{'name': '정우성', 'score': 100}

In [17]:
list(d)

['name', 'score']

In [18]:
tuple(d)

('name', 'score')

In [21]:
t = (1,2,3)
type(t)

l = list(t)
type(l)

list

In [25]:
a = 'hello'
b = [1,2,3,4,5,6,7,8,9]
c = (3,4,5)
d = {'a':100, 'b':200}
print(len(b))
print(len(c))
print(len(d))

9
3
2

In [28]:
# 문자열에 대해서 최소.최대는 알파벳 순서를 기준으로 한다.
max(['Tom','Jane','Suji'])

'Tom'

In [31]:
any([10,304,'a',''])

True

In [33]:
# 0에서 10까지의 일렬 숫자를 리턴한다.
a = range(10,0,-1)
list(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
for i, name in enumerate(['정우성','박보검','심은하']) :
    print(i, name)

0 정우성
1 박보검
2 심은하

In [36]:
name = ['a','b','c']
score = [100,29,34]

a = zip(name, score)
list(a)

[('a', 100), ('b', 29), ('c', 34)]

In [37]:
a = [[10,20,30], [34,324,321], ['a','b','c','d']]

x = map(max, a)
list(x)

[30, 324, 'd']

In [39]:
def positive(x):
    return x > 0

a = filter(positive , [10,-10,0,202,-343])
list(a)

[10, 202]

In [41]:
sorted([2039,283,193,2091,1], reverse=True)

[2091, 2039, 283, 193, 1]

In [42]:
abs(-100)

100

In [43]:
divmod(10,3)

(3, 1)

In [44]:
pow(2,3)

8

In [48]:
round(124.6754, -1)

120.0

In [52]:
a = (1,2,3)

dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [51]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_12',
 '_13',
 '_14',
 '_15',
 '_17',
 '_18',
 '_19',
 '_2',
 '_21',
 '_22',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_5',
 '_50',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'd',
 'exit',
 'get_ipython',
 'i',
 'l',
 'mul',
 'name',
 'positive',
 'quit',
 'result',
 'score',
 't',
 'x']

# 내장함수 실습

In [53]:
def positive (x):
    return x > 0

a = filter(positive, [1, -2, 3, -5, 8, -3])
list(a)

[1, 3, 8]

In [54]:
def mul(x) :
    return x * 3

a = map(mul, [1, 2, 3, 4])
list(a)

[3, 6, 9, 12]

In [67]:
min([-8, 2, 7, 5, -3, 5, 0, 1]) +  max([-8, 2, 7, 5, -3, 5, 0, 1])

-1

In [60]:
print(17 / 3)
print(round(17 / 3, 4))

5.666666666666667
5.6667